<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">
            Api Documentation
        </h1>

        <p><a href="#method1">1. Get token</a></p>
        <p><a href="#method2">2. Create list</a></p>
        <p><a href="#method3">3. Update list title</a></p>
        <p><a href="#method4">4. Delete list</a></p>
        <p><a href="#method5">5. Get list's notes.</a></p>
        <p><a href="#method6">6. Get list data.</a></p>
        <p><a href="#method7">7. Get user lists.</a></p>
        <p><a href="#method8">8. Create note.</a></p>
        <p><a href="#method9">9. Update note</a></p>
        <p><a href="#method10">10. Get note data.</a></p>
        <p><a href="#method11">11. Delete note</a></p>

        <h3 id="method1" class="title">1. Get token method</h3>
        <p>url:
        <pre>http://todolist.local/oauth/v2/token</pre>
        </p>

        <p>method: <b>GET</b></p>
        <p>Parameters:</p>
        <pre>
            client_id: 2_25qvtnrt7b0gs0cs4kc888804kockco884ccgowkwss040kg44
            client_secret: 2hyu4sf3ts4kscowwogo8ok8k0gwwg0sccsk004sk804k84k40
            response_type: token
            grant_type: password
            username: test
            password: test
    </pre>


        <p>success response status: <b>200 OK</b></p>
        <p>error response status: <b>400 bad request</b></p>
        <p>response example:
        <pre>
        {
            "access_token": "M2EyMGJiNDgxNjliM2JkYzJlYzNhYTljZGY2YjQ2ZDIzMTIwNzM5M2NmYmZjM2Q1YTgzN2Q2MWJlMGEzN2ExZA",
            "expires_in": 86400,
            "token_type": "bearer",
            "scope": null,
            "refresh_token": "MmNiMWRjYmNmMmFkZDIxMjI3YmIyMTM2MzlmYWJhNGMyMDFmMDJiNmMyZGE1ZDY3NDUzZTMxYWVkY2RmNjIyZA"
        }
    </pre>
        </p>

        <h3 id="method2"  class="title">2. Create list method</h3>
        <p>url:
        <pre>http://todolist.local/api/list</pre>
        </p>

        <p>method: <b>POST</b></p>
        <p>Parameters:</p>
        <pre>
            title: list name
        </pre>


        <p>success response status: <b>201 Created</b></p>
        <p>error response status: <b>401 Unauthorized, 400 bad request, 409 conflict</b></p>
        <p>response example:
        <pre>
            {
                "id": 2,
                "userId": 1,
                "title": "test",
                "createdAt": {
                    "date": "2020-07-06 07:06:08.309284",
                    "timezone_type": 3,
                    "timezone": "UTC"
                },
                "updatedAt": {
                    "date": "2020-07-06 07:06:08.309276",
                    "timezone_type": 3,
                    "timezone": "UTC"
                }
            }
        </pre>
        </p>
        <h3 id="method3"  class="title">3. Update list title</h3>
        <p>url:
        <pre>http://todolist.local/api/list/{listId}/update-title</pre>
        </p>

        <p>method: <b>PATCH</b></p>
        <p>Parameters:</p>
        <pre>
            title: list name
    </pre>


        <p>success response status: <b>204 no content</b></p>
        <p>error response status: <b>401 Unauthorized, 400 bad request, 404 not found</b></p>

        <h3 id="method4"  class="title">4. Delete list</h3>
        <p>url:
        <pre>http://todolist.local/api/list/{listId}</pre>
        </p>

        <p>method: <b>DELETE</b></p>
        <p>Parameters: without parameters</p>



        <p>success response status: <b>204 no content</b></p>
        <p>error response status: <b>401 Unauthorized, 404 not found</b></p>

        <h3 id="method5"  class="title">5. Get list's notes.</h3>
        <p>url:
        <pre>http://todolist.local/api/list/{listId}/notes</pre>
        </p>

        <p>method: <b>GET</b></p>
        <p>Parameters: without parameters</p>

        <p>success response status: <b>200 OK</b></p>
        <p>response example:
        <pre>
            [
                {
                    "id": 1,
                    "listId": 2,
                    "status": "todo",
                    "title": "second note",
                    "note": "test note",
                    "createdAt": {
                        "date": "2020-07-06 07:37:43.000000",
                        "timezone_type": 3,
                        "timezone": "UTC"
                    },
                    "updatedAt": {
                        "date": "2020-07-06 07:37:43.000000",
                        "timezone_type": 3,
                        "timezone": "UTC"
                    }
                },
                {
                    "id": 2,
                    "listId": 2,
                    "status": "todo",
                    "title": "first note",
                    "note": "test note",
                    "createdAt": {
                        "date": "2020-07-06 07:38:44.000000",
                        "timezone_type": 3,
                        "timezone": "UTC"
                    },
                    "updatedAt": {
                        "date": "2020-07-06 07:38:44.000000",
                        "timezone_type": 3,
                        "timezone": "UTC"
                    }
                }
            ]
        </pre>
        <p>error response status: <b>401 Unauthorized, 404 not found</b></p>

        <h3 id="method6"  class="title">6. Get list data.</h3>
        <p>url:
        <pre>http://todolist.local/api/list/{listId}</pre>
        </p>

        <p>method: <b>GET</b></p>
        <p>Parameters: without parameters</p>

        <p>success response status: <b>200 OK</b></p>
        <p>response example:
        <pre>
           {
                "id": 2,
                "userId": 1,
                "title": "test",
                "createdAt": {
                    "date": "2020-07-06 07:06:08.000000",
                    "timezone_type": 3,
                    "timezone": "UTC"
                },
                "updatedAt": {
                    "date": "2020-07-06 07:06:08.000000",
                    "timezone_type": 3,
                    "timezone": "UTC"
                }
            }
        </pre>
        <p>error response status: <b>401 Unauthorized, 404 not found</b></p>

        <h3 id="method7"  class="title">7. Get user lists.</h3>
        <p>url:
        <pre>http://todolist.local/api/lists</pre>
        </p>

        <p>method: <b>GET</b></p>
        <p>Parameters: without parameters</p>

        <p>success response status: <b>200 OK</b></p>
        <p>response example:
        <pre>
           [
            {
                "id": 2,
                "userId": 1,
                "title": "test",
                "createdAt": {
                    "date": "2020-07-06 07:06:08.000000",
                    "timezone_type": 3,
                    "timezone": "UTC"
                },
                "updatedAt": {
                    "date": "2020-07-06 07:06:08.000000",
                    "timezone_type": 3,
                    "timezone": "UTC"
                }
            },
            {
                "id": 3,
                "userId": 1,
                "title": "test 2",
                "createdAt": {
                    "date": "2020-07-06 07:43:47.000000",
                    "timezone_type": 3,
                    "timezone": "UTC"
                },
                "updatedAt": {
                    "date": "2020-07-06 07:43:47.000000",
                    "timezone_type": 3,
                    "timezone": "UTC"
                }
            }
        ]
        </pre>
        <p>error response status: <b>401 Unauthorized</b></p>

        <h3 id="method8"  class="title">8. Create note.</h3>
        <p>url:
        <pre>http://todolist.local/api/list/{listId}/create-note</pre>
        </p>

        <p>method: <b>POST</b></p>
        <p>Parameters (Acceptable statuses: `todo`, `todo`, `in_progress`, `done`):</p>
        <pre>
            title: note name
            status: todo
            note: some text
        </pre>

        <p>success response status: <b>201 Created</b></p>
        <p>response example:
        <pre>
            {
                "id": 3,
                "listId": 2,
                "status": "todo",
                "title": "first note",
                "note": null,
                "createdAt": {
                    "date": "2020-07-06 07:48:29.622264",
                    "timezone_type": 3,
                    "timezone": "UTC"
                },
                "updatedAt": {
                    "date": "2020-07-06 07:48:29.622271",
                    "timezone_type": 3,
                    "timezone": "UTC"
                }
            }
        </pre>

        <p>error response status: <b>401 Unauthorized, 400 bad request, 404 not found, 409 conflict</b></p>

        <h3 id="method9"  class="title">9. Update note</h3>
        <p>url:
        <pre>http://todolist.local/api/note/{noteId}</pre>
        </p>

        <p>method: <b>GET</b></p>
        <p>Parameters (Acceptable statuses: `todo`, `todo`, `in_progress`, `done`):</p>
        <pre>
            title: note name
            status: todo
            note: some text
        </pre>

        <p>success response status: <b>204 no content</b></p>


        <p>error response status: <b>401 Unauthorized, 400 bad request, 404 not found</b></p>

        <h3 id="method10"  class="title">10. Get note data.</h3>
        <p>url:
        <pre>http://todolist.local/api/note/{noteId}</pre>
        </p>

        <p>method: <b>GET</b></p>
        <p>Parameters: without parameters</p>

        <p>success response status: <b>200 OK</b></p>
        <p>response example:
        <pre>
           {
                "id": 2,
                "listId": 2,
                "status": "todo",
                "title": "first note",
                "note": "test note",
                "createdAt": {
                    "date": "2020-07-06 07:38:44.000000",
                    "timezone_type": 3,
                    "timezone": "UTC"
                },
                "updatedAt": {
                    "date": "2020-07-06 07:38:44.000000",
                    "timezone_type": 3,
                    "timezone": "UTC"
                }
            }
        </pre>
        <p>error response status: <b>401 Unauthorized, 404 not found</b></p>

        <h3 id="method11"  class="title">11. Delete note</h3>
        <p>url:
        <pre>http://todolist.local/api/note/{noteId}</pre>
        </p>

        <p>method: <b>DELETE</b></p>
        <p>Parameters: without parameters</p>



        <p>success response status: <b>204 no content</b></p>
        <p>error response status: <b>401 Unauthorized, 404 not found</b></p>
    </div>

</section>
</body>
</html>
